.our-story-wrapper_4 {
  background: #000;
  height: 30rem;
  border-bottom: 0.5rem solid #222;
}

.our-story-wrapper_4 img {
  width: 30rem;
  padding-top: 4rem;
}

.our-story-wrapper_4 h5 {
  font-size: 1.5rem;
}
