.our-story-wrapper {
  background: #000;
  height: 30rem;
  border-top: 0.5rem solid #222;
  border-bottom: 0.5rem solid #222;
}

.our-story-card-video {
  position: relative;
  margin: 5.2rem 0 0 4.5rem;
  width: 24rem;
}

.our-story-card-img {
  position: absolute;
  height: 25rem;
  z-index: 1;
}
